<div class="inner cover">
  <h1 class="cover-heading">Tired of your basic ass lunch?</h1>
  <p class="lead">Explore all the other lunches in your surrounding area</p>
  <br>
  <p class="lead">
    <a href="/register" class="btn btn-lg btn-default">Register</a>
    <a href="/login" class="btn btn-lg btn-default">Sign In</a>
  </p>
</div>