<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LunchSwap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <style>
    /*
     * Globals
     */

    /* Links */
    a,
    a:focus,
    a:hover {
      color: #fff;
    }

    /* Custom default button */
    .btn-default,
    .btn-default:hover,
    .btn-default:focus {
      color: #333;
      text-shadow: none; /* Prevent inheritence from `body` */
      background-color: #fff;
      border: 1px solid #fff;
    }


    /*
     * Base structure
     */

    html,
    body {
      height: 100%;
      background-color: #333;
    }
    body {
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }

    /* Extra markup and styles for table-esque vertical and horizontal centering */
    .site-wrapper {
      display: table;
      width: 100%;
      height: 100%; /* For at least Firefox */
      min-height: 100%;
      -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
              box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    }
    .site-wrapper-inner {
      display: table-cell;
      vertical-align: top;
    }
    .cover-container {
      margin-right: auto;
      margin-left: auto;
    }

    /* Padding for spacing */
    .inner {
      padding: 30px;
    }

/*    #image-container {
      background-image: url(<%= asset_path 'bfastklub.jpg' %>);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }*/


    /*
     * Header
     */
    .masthead-brand {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .masthead-nav > li {
      display: inline-block;
    }
    .masthead-nav > li + li {
      margin-left: 20px;
    }
    .masthead-nav > li > a {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      font-weight: bold;
      color: #fff; /* IE8 proofing */
      color: rgba(255,255,255,.75);
      border-bottom: 2px solid transparent;
    }
    .masthead-nav > li > a:hover,
    .masthead-nav > li > a:focus {
      background-color: transparent;
      border-bottom-color: #a9a9a9;
      border-bottom-color: rgba(255,255,255,.25);
    }
    .masthead-nav > .active > a,
    .masthead-nav > .active > a:hover,
    .masthead-nav > .active > a:focus {
      color: #fff;
      border-bottom-color: #fff;
    }

    @media (min-width: 768px) {
      .masthead-brand {
        float: left;
      }
      .masthead-nav {
        float: right;
      }
    }

    .tab {
        padding-left:2em;
    }


    /*
     * Cover
     */

    .cover {
      padding: 0 20px;
    }
    .cover .btn-lg {
      padding: 10px 20px;
      font-weight: bold;
    }

    .cover-heading {
      font-family: "Lato", sans-serif;
      font-weight: 700;
    }

    .lead {
      font-family: "Lato", sans-serif;
      font-weight: 100;
    }


    /*
     * Footer
     */

    .mastfoot {
      color: #999; /* IE8 proofing */
      color: rgba(255,255,255,.5);
    }


    /*
     * Affix and center
     */

    @media (min-width: 768px) {
      /* Pull out the header and footer */
      .masthead {
        position: fixed;
        top: 0;
      }
      .mastfoot {
        position: fixed;
        bottom: 0;
      }
      /* Start the vertical centering */
      .site-wrapper-inner {
        vertical-align: middle;
      }
      /* Handle the widths */
      .masthead,
      .mastfoot,
      .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
      }
    }

    @media (min-width: 992px) {
      .masthead,
      .mastfoot,
      .cover-container {
        width: 700px;
      }
    }
    </style>

  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner" id="image-container">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">LunchSwap <i class="fa fa-cutlery fa-lg"></i></h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>

          <%= yield %>

          <div class="mastfoot">
            <div class="inner">
              <span class="footer-text">
                <a href="http://instagram.com/jeanpaulversace"><i class="fa fa-instagram"></i></a>
                <span class="tab">
                <a href="http://twitter.com/aznphatboi93"><i class=" fa fa-twitter"></i></a>
                <span class="tab">
                <a href="http://github.com/jeanpaulversace"><i class=" fa fa-github"></i></a>
                <span class="tab">
                winstontri@gmail.com
              </span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type=""
  </body>
</html>
